# Домашнее задание «Библиотека Pandas»

In [1]:
import pandas as pd

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.<br>
Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
df_movies = pd.read_table('movies.dat', sep='::', header=None, 
                       names=['movie_id','title','genres'], engine='python')

In [3]:
df_ratings = pd.read_table('ratings.dat', sep='::', header=None, 
                        names=['user_id','movie_id','rating','timestamp'], engine='python')

In [4]:
df_ratings[df_ratings['rating'] == 5].groupby('movie_id')['rating'].count()\
                                     .to_frame(name='rating_5_count')\
                                     .sort_values(by = 'rating_5_count', ascending=False)\
                                     .head(1)\
                                     .merge(df_movies, on='movie_id')

   movie_id  rating_5_count                   title        genres
0      2858            1963  American Beauty (1999)  Comedy|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) <br>
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
df_power = pd.read_csv('power.csv')

In [6]:
df_power.query("country == ['Latvia', 'Lithuania', 'Estonia'] and \
                category == [4, 12, 21] and \
                quantity > 0 and \
                2005 <= year <= 2010")['quantity'].sum()

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.<br>
Примеры страниц (необязательно брать именно эти):<br>
https://fortrader.org/quotes<br>
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
web_data = pd.read_html('https://fortrader.org/quotes')

In [8]:
df_commodity = web_data[1]

In [9]:
df_commodity

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,55.64,-0.33,-0.59,NaN
1,Нефть WTI Цены на нефть WTI,52.60,-0.26,-0.49,NaN
2,Природный газ Цена на природный газ,2.64,0.04,1.61,NaN
3,Кофе,124.55,1.40,1.14,NaN
4,Кукуруза,530.20,18.80,3.68,NaN
5,Соя,438.60,8.60,2.00,NaN
6,Хлопок,81.66,-0.67,-0.81,NaN