# Домашнее задание «Продвинутый pandas»

In [1]:
import pandas as pd

<div class="alert alert-success">
<h2> Задание 1 </h2>
</div>

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [2]:
log = pd.read_csv('visit_log.csv', sep=';')

In [3]:
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [4]:
def det_source_type(row):
    if row.traffic_source in ['yandex', 'google']:
        return 'organic'
    if row.traffic_source in ['paid', 'email']:
        if row.region == 'Russia':
            return 'ad'
        else:
            return 'other'
    return row.traffic_source

In [5]:
log['source_type'] = log.apply(det_source_type, axis=1)

In [6]:
assert list(log.query("traffic_source == ['yandex','google']").source_type.unique()) == ['organic']
assert list(log.query("traffic_source == ['paid','email'] and region == 'Russia'").source_type.unique()) == ['ad']
assert list(log.query("traffic_source == ['paid','email'] and region != 'Russia'").source_type.unique()) == ['other']
assert list(log.query("traffic_source != ['yandex','google','paid','email']").source_type.unique()) == ['direct']

<div class="alert alert-success">
<h2> Задание 2 </h2>
</div>

В файле URLs.txt содержатся url страниц новостного сайта.<br>
Вам необходимо отфильтровать его по адресам страниц с текстами новостей.<br>
Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис.<br>
Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [7]:
urls = pd.read_table('URLs.txt')

In [8]:
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [9]:
news = urls[urls.url.str.contains(r'/\d{8}-', regex=True)]

In [10]:
news.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

<div class="alert alert-success">
<h2> Задание 3 </h2>
</div>

Используйте файл с оценками фильмов ml-latest-small/ratings.csv.<br>
Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.<br>
Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [11]:
ratings = pd.read_csv('ratings.csv')

In [12]:
ratings['date'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [13]:
ratings.groupby('userId').date.agg(['count', lambda x: max(x) - min(x)]).query('count > 100')['<lambda>'].mean()

Timedelta('463 days 21:28:27.449612')

<div class="alert alert-success">
<h2> Задание 4 </h2>
</div>

Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

Необходимо сформировать две таблицы:
- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
- аналогичную таблицу по типам выручки с указанием адреса клиента

*Обратите внимание, что в процессе объединения таблиц данные не должны теряться.*

In [14]:
rzd = pd.DataFrame({'client_id': [111, 112, 113, 114, 115], 'rzd_revenue': [1093, 2810, 10283, 5774, 981]})

auto = pd.DataFrame({'client_id': [113, 114, 115, 116, 117], 'auto_revenue': [57483, 83, 912, 4834, 98]})

air = pd.DataFrame({'client_id': [115, 116, 117, 118], 'air_revenue': [81, 4, 13, 173]})

client_base = pd.DataFrame({'client_id': [111, 112, 113, 114, 115, 116, 117, 118], 
                            'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 
                                        'ЗЖБИиДК 1', 'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']})

In [15]:
rzd.merge(auto, how='outer').merge(air, how='outer').fillna(0)

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [16]:
rzd.merge(auto, how='outer').merge(air, how='outer').merge(client_base, how='outer').fillna(0)

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4

<div class="alert alert-block alert-info">
</div>