# Домашнее задание «Базовые понятия статистики»

In [1]:
import pandas as pd

<div class="alert alert-block alert-info">
Будем осуществлять работу с непростым набором данных <br>
https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv <br>
о состоянии здоровья лошадей, испытывающих кишечные колики.</div>

<div class="alert alert-success">
<h3> Задание 1. Базовое изучение</h3>
</div>

<div class="alert alert-block alert-info">
Изучить представленный набор данных на основе описания его столбцов<br>
https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names<br>
и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные).<br>  
Провести расчет базовых метрик для них, кратко описать результаты.</div>

In [2]:
data = pd.read_csv('horse_data.csv', header=None, na_values='?')

In [3]:
data.shape

(300, 28)

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
0     299 non-null float64
1     300 non-null int64
2     300 non-null int64
3     240 non-null float64
4     276 non-null float64
5     242 non-null float64
6     244 non-null float64
7     231 non-null float64
8     253 non-null float64
9     268 non-null float64
10    245 non-null float64
11    256 non-null float64
12    244 non-null float64
13    196 non-null float64
14    194 non-null float64
15    53 non-null float64
16    198 non-null float64
17    182 non-null float64
18    271 non-null float64
19    267 non-null float64
20    135 non-null float64
21    102 non-null float64
22    299 non-null float64
23    300 non-null int64
24    300 non-null int64
25    300 non-null int64
26    300 non-null int64
27    300 non-null int64
dtypes: float64(21), int64(7)
memory usage: 65.7 KB

Все данные представлены числовым форматом, хотя большинство признаков фактически категориальные.  
Составим словарь описания признаков и сразу для названий столбцов добавим _num или _cat  
для числовых и категориальных признаков соотвественно, чтобы отдельно расчитать базовые метрики для них.

In [6]:
description = {1: ['surgery?', 'была ли операция: да, нет', 'had_surgery_cat'],
               2: ['Age', 'возраст: взрослая, молодая (< 6 мес)', 'age_cat'],
               3: ['Hospital Number', 'числовой идентификатор', 'id_cat'],
               4: ['rectal temperature', 'ректальная температура в градусах цельсия', 'rectal_temp_num'],
               5: ['pulse', 'частота сердечных сокращений в ударах в минуту', 'pulse_num'],
               6: ['respiratory rate', 'частота дыхания', 'respiratory_rate_num'],
               7: ['temperature of extremities', 'температура конечностей', 'extremities_temp_cat'],
               8: ['peripheral pulse', 'периферический пульс', 'peripheral_pulse_cat'],
               9: ['mucous membranes', 'слизистые оболочки, измерение цвета', 'mucous_membranes_cat'],
              10: ['capillary refill time', 'время пополнения капилляров', 'capillary_refill_time_cat'],
              11: ['pain', 'субъективное суждение об уровне боли лошади', 'pain_cat'],
              12: ['peristalsis', 'перистальтика', 'peristalsis_cat'],
              13: ['abdominal distension', 'вздутие живота', 'abdominal_distension_cat'],
              14: ['nasogastric tube', 'назогастральная трубка', 'nasogastric_tube_cat'],
              15: ['nasogastric reflux', 'назогастральный рефлюкс', 'nasogastric_reflux_cat'],
              16: ['nasogastric reflux PH', 'назогастральный рефлюкс РН', 'nasogastric_reflux_ph_cat'],
              17: ['rectal examination - feces', 'ректальное исследование - кал', 'feces_cat'],
              18: ['abdomen', 'живот', 'abdomen_cat'],
              19: ['packed cell volume', 'количество эритроцитов по объему в крови', 'pcv_num'],
              20: ['total protein', 'общий белок', 'total_protein_num'],
              21: ['abdominocentesis appearance', 'внешний вид абдоминоцентеза', 'abdominocentesis_appearance_cat'],
              22: ['abdomcentesis total protein', 'абдоминоцентез общий белок', 'atp_num'],
              23: ['outcome', 'итоги - что стало с лошадью', 'outcome_cat'],
              24: ['surgical lesion?', 'была ли проблема (поражение) хирургической?', 'was_surgical_cat'],
              25: ['type of lesion_1', 'тип поражения', 'lesion_type_1_cat'],
              26: ['type of lesion_2', 'тип поражения', 'lesion_type_2_cat'],
              27: ['type of lesion_3', 'тип поражения', 'lesion_type_3_cat'],
              28: ['cp_data', 'имеются ли данные патологии в данном случае?', 'cp_data_cat']}

Добавим названия столбцов в датафрейм:

In [7]:
data.columns = [description[x+1][2] for x in range(28)]

In [8]:
data.head()

,had_surgery_cat,age_cat,id_cat,rectal_temp_num,pulse_num,respiratory_rate_num,extremities_temp_cat,peripheral_pulse_cat,mucous_membranes_cat,capillary_refill_time_cat,...,pcv_num,total_protein_num,abdominocentesis_appearance_cat,atp_num,outcome_cat,was_surgical_cat,lesion_type_1_cat,lesion_type_2_cat,lesion_type_3_cat,cp_data_cat
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [9]:
categorical_columns = [c for c in data.columns if c[-4:] == '_cat']
numerical_columns = [c for c in data.columns if c[-4:] == '_num']

Преобразуем тип данных для категориальных признаков:

In [10]:
data[categorical_columns] = data[categorical_columns].astype('category')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 28 columns):
had_surgery_cat                    299 non-null category
age_cat                            300 non-null category
id_cat                             300 non-null category
rectal_temp_num                    240 non-null float64
pulse_num                          276 non-null float64
respiratory_rate_num               242 non-null float64
extremities_temp_cat               244 non-null category
peripheral_pulse_cat               231 non-null category
mucous_membranes_cat               253 non-null category
capillary_refill_time_cat          268 non-null category
pain_cat                           245 non-null category
peristalsis_cat                    256 non-null category
abdominal_distension_cat           244 non-null category
nasogastric_tube_cat               196 non-null category
nasogastric_reflux_cat             194 non-null category
nasogastric_reflux_ph_cat          53 non-null category
feces_cat                          198 non-null category
abdomen_cat                        182 non-null category
pcv_num                            271 non-null float64
total_protein_num                  267 non-null float64
abdominocentesis_appearance_cat    135 non-null category
atp_num                            102 non-null float64
outcome_cat                        299 non-null category
was_surgical_cat                   300 non-null category
lesion_type_1_cat                  300 non-null category
lesion_type_2_cat                  300 non-null category
lesion_type_3_cat                  300 non-null category
cp_data_cat                        300 non-null category
dtypes: category(22), float64(6)
memory usage: 39.6 KB

Теперь для категориальных признаков можно посмотреть количество уникальных значений **unique**,  
самое часто встречающееся значение **top**, и его количество **freq**:

In [12]:
data[categorical_columns].describe()

,had_surgery_cat,age_cat,id_cat,extremities_temp_cat,peripheral_pulse_cat,mucous_membranes_cat,capillary_refill_time_cat,pain_cat,peristalsis_cat,abdominal_distension_cat,...,nasogastric_reflux_ph_cat,feces_cat,abdomen_cat,abdominocentesis_appearance_cat,outcome_cat,was_surgical_cat,lesion_type_1_cat,lesion_type_2_cat,lesion_type_3_cat,cp_data_cat
count,299.0,300,300,244.0,231.0,253.0,268.0,245.0,256.0,244.0,...,53.0,198.0,182.0,135.0,299.0,300,300,300,300,300
unique,2.0,2,284,4.0,4.0,6.0,3.0,5.0,4.0,4.0,...,20.0,4.0,5.0,3.0,3.0,2,61,6,2,2
top,1.0,1,5279822,3.0,1.0,1.0,1.0,3.0,3.0,1.0,...,2.0,4.0,5.0,2.0,1.0,1,0,0,0,2
freq,180.0,276,2,109.0,115.0,79.0,188.0,67.0,128.0,76.0,...,9.0,79.0,79.0,48.0,178.0,191,56,293,299,201

Базовые метрики для числовых признаков:

In [13]:
data[numerical_columns].describe()

,rectal_temp_num,pulse_num,respiratory_rate_num,pcv_num,total_protein_num,atp_num
count,240.000000,276.000000,242.000000,271.000000,267.000000,102.000000
mean,38.167917,71.913043,30.417355,46.295203,24.456929,3.019608
std,0.732289,28.630557,17.642231,10.419335,27.475009,1.968567
min,35.400000,30.000000,8.000000,23.000000,3.300000,0.100000
25%,37.800000,48.000000,18.500000,38.000000,6.500000,2.000000
50%,38.200000,64.000000,24.500000,45.000000,7.500000,2.250000
75%,38.500000,88.000000,36.000000,52.000000,57.000000,3.900000
max,40.800000,184.000000,96.000000,75.000000,89.000000,10.100000

<div class="alert alert-success">
<h3> Задание 2. Работа с выбросами </h3>
</div>

<div class="alert alert-block alert-info">
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты.<br>  
Принять и обосновать решение о дальнейшей работе с ними.</div>

Напишем функцию для нахождения выбросов через межквартильный размах:

In [14]:
def find_outliers(series):
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    return series.loc[(series < lower_bound) | (series > upper_bound)].sort_values()

И посмотрим на сами выбросы, для сравнения добавив медиану по признакам:

In [15]:
for c in numerical_columns:
    print('-------------------------------------------------')
    print(f'Медианное значение {c} = {data[c].median()}\nВыбросы:')
    print(list(find_outliers(data[c])))#, end='\n\n')

-------------------------------------------------
Медианное значение rectal_temp_num = 38.2
Выбросы:
[35.4, 36.0, 36.1, 36.4, 36.5, 36.5, 36.6, 39.6, 39.7, 39.9, 40.0, 40.3, 40.3, 40.8]
-------------------------------------------------
Медианное значение pulse_num = 64.0
Выбросы:
[150.0, 150.0, 160.0, 164.0, 184.0]
-------------------------------------------------
Медианное значение respiratory_rate_num = 24.5
Выбросы:
[66.0, 68.0, 68.0, 68.0, 70.0, 70.0, 72.0, 80.0, 80.0, 80.0, 84.0, 84.0, 88.0, 90.0, 90.0, 96.0, 96.0]
-------------------------------------------------
Медианное значение pcv_num = 45.0
Выбросы:
[74.0, 75.0, 75.0]
-------------------------------------------------
Медианное значение total_protein_num = 7.5
Выбросы:
[]
-------------------------------------------------
Медианное значение atp_num = 2.25
Выбросы:
[7.0, 7.0, 7.0, 7.4, 8.0, 10.0, 10.1]

Тут хорошо бы получить консультацию лошадиного ветеринара :)  
Но похоже, что ошибок в данных нет и выбросы, по крайней мере по температуре, пульсу и частоте дыхания, вполне реалистичны.  
Причины - в тяжести или особенности состояния животных.  
Естественно выбрасывать эти строки с выбросами нельзя, чтобы не потерять информацию.

<div class="alert alert-success">
<h3> Задание 3. Работа с пропусками </h3>
</div>

<div class="alert alert-block alert-info">
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.</div>

Здесь тоже бы неплохо знать какие группы признаков с каким скоррелированы, чтобы заполнять пропуски по сложным условиям. А из простых методов можно предложить удалить столбцы у которых больше половины данных отсутствует, далее пропуски по числовым признакам заполнить медианными значениями, чтобы исключить влияние выбросов, а по категориальным - модой.

Признаки с большим количеством пропусков, > 150:

In [16]:
for c in data.columns[data.isna().sum() > 150]:
    print(f'{c}, missing data: N = {data[c].isnull().sum()}, % = {data[c].isnull().mean() :.1%}')

nasogastric_reflux_ph_cat, missing data: N = 247, % = 82.3%
abdominocentesis_appearance_cat, missing data: N = 165, % = 55.0%
atp_num, missing data: N = 198, % = 66.0%

Удалим их и обновим группы столбцов:

In [17]:
data = data.drop(columns=data.columns[data.isna().sum() > 150])

In [18]:
categorical_columns = [c for c in data.columns if c[-4:] == '_cat']
numerical_columns = [c for c in data.columns if c[-4:] == '_num']

Посмотрим на пропуски в числовых столбцах:

In [19]:
for c in numerical_columns:
    print(f'{c}, missing data: N = {data[c].isnull().sum()}, % = {data[c].isnull().mean() :.1%}')

rectal_temp_num, missing data: N = 60, % = 20.0%
pulse_num, missing data: N = 24, % = 8.0%
respiratory_rate_num, missing data: N = 58, % = 19.3%
pcv_num, missing data: N = 29, % = 9.7%
total_protein_num, missing data: N = 33, % = 11.0%

Заменим пропуски медианными значениями:

In [20]:
data[numerical_columns] = data[numerical_columns].fillna(data[numerical_columns].median())

Теперь пропуски по категориальным столбцам:

In [21]:
for c in categorical_columns:
    print(f'{c}, missing data: N = {data[c].isnull().sum()}, % = {data[c].isnull().mean() :.1%}')

had_surgery_cat, missing data: N = 1, % = 0.3%
age_cat, missing data: N = 0, % = 0.0%
id_cat, missing data: N = 0, % = 0.0%
extremities_temp_cat, missing data: N = 56, % = 18.7%
peripheral_pulse_cat, missing data: N = 69, % = 23.0%
mucous_membranes_cat, missing data: N = 47, % = 15.7%
capillary_refill_time_cat, missing data: N = 32, % = 10.7%
pain_cat, missing data: N = 55, % = 18.3%
peristalsis_cat, missing data: N = 44, % = 14.7%
abdominal_distension_cat, missing data: N = 56, % = 18.7%
nasogastric_tube_cat, missing data: N = 104, % = 34.7%
nasogastric_reflux_cat, missing data: N = 106, % = 35.3%
feces_cat, missing data: N = 102, % = 34.0%
abdomen_cat, missing data: N = 118, % = 39.3%
outcome_cat, missing data: N = 1, % = 0.3%
was_surgical_cat, missing data: N = 0, % = 0.0%
lesion_type_1_cat, missing data: N = 0, % = 0.0%
lesion_type_2_cat, missing data: N = 0, % = 0.0%
lesion_type_3_cat, missing data: N = 0, % = 0.0%
cp_data_cat, missing data: N = 0, % = 0.0%

Заменяем самым часто встречающимся значением:

In [22]:
for c in categorical_columns:
    data[c] = data[c].fillna(data[c].mode()[0])

Общая информация по итоговому датафрейму:

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 25 columns):
had_surgery_cat              300 non-null category
age_cat                      300 non-null category
id_cat                       300 non-null category
rectal_temp_num              300 non-null float64
pulse_num                    300 non-null float64
respiratory_rate_num         300 non-null float64
extremities_temp_cat         300 non-null category
peripheral_pulse_cat         300 non-null category
mucous_membranes_cat         300 non-null category
capillary_refill_time_cat    300 non-null category
pain_cat                     300 non-null category
peristalsis_cat              300 non-null category
abdominal_distension_cat     300 non-null category
nasogastric_tube_cat         300 non-null category
nasogastric_reflux_cat       300 non-null category
feces_cat                    300 non-null category
abdomen_cat                  300 non-null category
pcv_num                      300 non-null float64
total_protein_num            300 non-null float64
outcome_cat                  300 non-null category
was_surgical_cat             300 non-null category
lesion_type_1_cat            300 non-null category
lesion_type_2_cat            300 non-null category
lesion_type_3_cat            300 non-null category
cp_data_cat                  300 non-null category
dtypes: category(20), float64(5)
memory usage: 35.8 KB

<div class="alert alert-block alert-info"></div>